<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div ng-repeat="chatContact in chatList track by chatContact.UserName" class="ng-scope">
			<!-- ngIf: !chatContact.isShieldUser() -->
			<div class="chat_item slide-left ng-scope" ng-if="!chatContact.isShieldUser()" data-username="@55a2f0b03d42b43a8ce7ecf7d7eaa02aa6fede540cfbadc99e51ecf56f54ddb5" ng-click="itemClick(chatContact.UserName)" ng-class="{'active': (chatContact.UserName == currentUserName),'top':chatContact.isTop()}" data-cm="{&quot;type&quot;:&quot;chat&quot;,&quot;username&quot;:&quot;@55a2f0b03d42b43a8ce7ecf7d7eaa02aa6fede540cfbadc99e51ecf56f54ddb5&quot;}">

				<div class="ext">
					<p class="attr ng-binding"></p>
					
				</div>

				<div class="avatar">
					<img class="img" src="/cgi-bin/mmwebwx-bin/webwxgeticon?seq=658217464&amp;username=@55a2f0b03d42b43a8ce7ecf7d7eaa02aa6fede540cfbadc99e51ecf56f54ddb5&amp;skey=@crypt_9198ed19_65703f2bb254bd1b86139f3a4042875e" mm-src="/cgi-bin/mmwebwx-bin/webwxgeticon?seq=658217464&amp;username=@55a2f0b03d42b43a8ce7ecf7d7eaa02aa6fede540cfbadc99e51ecf56f54ddb5&amp;skey=@crypt_9198ed19_65703f2bb254bd1b86139f3a4042875e" alt="">
				</div>

				<div class="info">
					<h3 class="nickname">
                    <span class="nickname_text ng-binding" ng-bind-html="chatContact.getDisplayName()">51赞CRM</span>
               </h3>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			document.onclick = function(ev) {
				console.dir(ev.target)
				console.dir(ev.target.className)
				console.log(ev.target.dataset.username)
			}
			document.addEventListener('click',function(ev) {
				console.dir(ev.target)
				console.dir(ev.target.className)
				console.log(ev.target.dataset.username)
			},true)
			document.addEventListener('mousedown',function(ev){
				console.dir(ev)
			})
		</script>
		<script type="text/javascript">
			
			var appElement = document.querySelector('.chat_bd>div>div');
			var $scope = angular.element(appElement).scope();
			console.dir($scope.chatContent)
			
		</script>
	</body>

</html>