/*快递模板样式*/
* {
	margin: 0;
	padding: 0;
	font-family: "simsun";
}

.print_paper {
	font-size: 14px;
	border: none;
	border-collapse: collapse;
	width: 375px;
	margin-top: -1px;
	table-layout: fixed;
}

.print_paper td {
	border: solid #000 1px;
	padding: 0 5px;
}

.table_first {
	margin-top: 0;
}

.print_paper .x1 {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 5px;
	line-height: 0.95;
	font-family: "Microsoft YaHei";
}

.print_paper .x4 {
	font-size: 20px;
	font-weight: bold;
	font-family: "Microsoft YaHei";
}

.print_paper .xx8 {
	font-size: 8px;
	line-height: 0.8;
}

.print_paper .xx10 {
	font-size: 10px;
}

.print_paper .xx12 {
	font-size: 12px;
	font-weight: bold;
}

.print_paper .xx14 {
	font-size: 14px;
	font-weight: bold;
	font-family: "SimHei";
}

.print_paper .xx16 {
	font-size: 16px;
	font-weight: bold;
	font-family: "Microsoft YaHei";
}

.print_paper .xx48 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	font-family: "Microsoft YaHei";
}

.no_border {
	width: 100%;
	height: 100%;
	font-size: 14px;
}

.no_border td {
	border: none;
	vertical-align: top;
}

.print_paper .fwb {
	font-weight: bold;
}

.print_paper .f24 {
	font-family: "Arial";
	font-size: 24pt;
}

.print_paper .p0 {
	padding: 0;
}


/*增加类*/

.print_paper .p0 .sp {
	position: absolute;
	left: 3px;
	top: 110px;
}

.print_paper .ovh {
	overflow: hidden;
}

.print_paper .ov {
	overflow: visible;
}

.print_paper .f10 {
	font-size: 10px;
}

.print_paper .f13 {
	font-size: 13px;
}

.print_paper .bln {
	border-left: none;
}

.print_paper .brn {
	border-right: none;
}