<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			.edit_area {
				height: 300px;
				background-color:grey:
			}
		</style>
	</head>

	<body>
		<pre id="editArea" contenteditable-directive="" mm-paste="" class="flex edit_area ng-isolate-scope ng-pristine ng-valid" ng-blur="editAreaBlur($event)" ng-model="editAreaCtn" ng-click="editAreaClick($event)" ng-keyup="editAreaKeyup($event)" ng-keydown="editAreaKeydown($event)" contenteditable="true"></pre>
		<script type="text/javascript">
			
		</script>
	</body>

</html>